{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="card shadow-sm rounded p-2 w-100">
        <div class="card shadow-sm rounded text-center my-1 w-100" style="background-color: #334195;">        
            <div class="p-3">
                <h5 class="card-title" style="color: #ffffff; font-size: medium;">Prédios Mais Inseguros (TOP #3)</h5>
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>
    </div>  
    <script>
        const ctx = document.getElementById('myChart');
        Chart.defaults.color = "#ffffff";
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for building in buildings %}'{{building}}',{% endfor %}],
            datasets: [{
                label: 'Número de reclamações',
                data: [{% for num in num_reports %}{{num}},{% endfor %}],
                borderWidth: 1,
                backgroundColor: [
                    '#FF3E03',
                    '#FF7723',
                    '#32AD25'
                ],
            }]
        },
        options: {
            responsive: true,
            indexAxis: 'y',
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>
{% endblock %}