{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="text-center w-100 my-3">
        <div class="dropdown d-grid">
            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    Segurança do Campus (24h)
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="tel:+556131076222">Darcy Ribeiro</a></li>
                <li><a class="dropdown-item" href="tel:+556131078423">Ceilândia (FCE)</a></li>
                <li><a class="dropdown-item" href="tel:+556131078905">Gama (FGA)</a></li>
                <li><a class="dropdown-item" href="tel:+556131078215">Planaltina (FUP)</a></li>
            </ul>
            </div>
    </div>

    <div class="card shadow-sm rounded p-4 w-100">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group mb-3">
                <label class="form-label" for="text-input">
                    Título da Reclamação:
                </label>
                {% render_field form.title class="border rounded-pill form-control" style="color: #ffffff; background-color: #9eacc4" %}
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="textarea-input">
                    Descrição do Fato:
                </label>
                {% render_field form.description class="border rounded form-control" style="color: #ffffff; background-color: #9eacc4" %}
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="textarea-input">
                    Localização Específica:
                </label>
                {% render_field form.specific_location class="btn btn-primary dropdown-toggle w-100" style="background-color: #4244a4; border-style: none;" %} 
            </div>
            
            <div class="form-group mb-3">
                <label class="form-label" for="textarea-input">
                    Prédio:
                </label>
                {% render_field form.building class="btn btn-primary dropdown-toggle w-100" style="background-color: #4244a4; border-style: none;" %}
            </div>                      
    
            <div class="form-group mt-5 mb-4">
                <a class="btn btn-outline-secondary" role="button" href="{% url 'main:home' %}">Cancelar</a>
                <input type="submit" class="btn btn-primary float-end" style="background-color: #4244a4; border-style: none;" value="Enviar">
            </div>
                
        </form>
    </div>
{% endblock %}